<!DOCTYPE html>
<html>
  <head>
    <title> Challenge Digital 2022 </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>  
        <p> Challenge Digital 2022 </p>
        <nav> 
            <ul> 
                <li>
                     <a href="">Crear Producto </a>
                </li>
                <li> 
                    <a href="">home</a> 
                </li>
                <li> 
                    <a href="">Editar/Eliminar Producto 

                    </a>
                </li>
                

            </ul>
        </nav>
    </header>

